<!DOCTYPE html>
<!-- NOTES: -->
<!-- {{list | join('')}}, jinja syntax for listing out lists into a string -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Completion Tracker and Watch Planner</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <header>
            <h1>Belleren</h1>
            <p>Anime Completion Tracker and Watch Planner</p>
        </header>
        <main>
            <div id="container">

                <section id="currently-watching">
                    <!-- Show all currently watching -->
                </section>

                <section id="add-anime">
                    <form id="query" method="GET" action="/">
                        <label for="form-title">
                            <input id="form-title" type="text" name="name">
                        </label>
                        <button type="submit" name="Search">Search</button>
                    </form>

                    <section id="query-suggestions">
                        <!-- NEEDS WORKING ON BUT JUST NEED TO GET IT ON THERE FOR NOW -->
                        {% for anime in anime_suggestions %}
                            <form id="selected-anime" method="POST">
                                <input type="hidden" name="title" value="{{anime.title}}">
                                <input type="hidden" name="image" value="{{anime.image}}">
                                <input type="hidden" name="episodes" value="{{anime.episodes}}">
                                <input type="hidden" name="duration" value="{{anime.duration}}">
                                <input type="hidden" name="MALurl" value="{{anime.MALurl}}">
                                <input type="hidden" name="year" value="{{anime.year}}">
                                <input type="hidden" name="demographics" value="{{anime.demographics}}">
                                <input type="hidden" name="genres" value="{{anime.genres | join(',')}}">
                                <div>
                                    <img src="{{anime.image}}">
                                    <ul>
                                        <li>{{anime.title}}</li>
                                        <li>{{anime.type}} | {{anime.year}}</li>
                                        <li>{{anime.episodes}} | {{anime.duration}}</li>
                                        <li>{{anime.demographics}} | {{anime.genres | join(', ')}}</li>
                                        <li><a href="{{anime.MALurl}}" target="_blank">MyAnimeList</a></li>
                                        <button type="submmit">+ Add</button>
                                    </ul>
                                </div>
                            </form>
                        {% endfor %}
                    </section>
                    
                </section>

                <section id="watched-anime">
                    <!-- Show all watched anime -->
                </section>

                <section id="just-finished">
                    <!-- Just finished anime -->
                </section>

            </div>
        </main>
        <footer></footer>
    </body>
</html>