<!DOCTYPE html>
<!-- NOTES: -->
<!-- {{list | join('')}}, jinja syntax for listing out lists into a string -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Anime Completion Tracker and Watch Planner</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <header>
            <h1>Bellerin</h1>
            <p>Anime Completion Tracker and Watch Planner</p>
        </header>
        <main>
            <div id="container">

<!-- RIGHT MARGIN/ADD ANIME -->
                <section id="initial-estimate">
    <!-- CONFIRM ANIME TO ADD -->
                    <form id="confirmed-anime" method="POST">
                        <fieldset hidden>
                            <input type="hidden" name="title" value="{{}}">
                            <input type="hidden" name="image" value="{{}}">
                            <input type="hidden" name="episodes" value="{{}}">
                            <input type="hidden" name="duration" value="{{}}">
                            <input type="hidden" name="MALurl" value="{{}}">
                            <input type="hidden" name="year" value="{{}}">
                            <input type="hidden" name="demographics" value="{{}}">
                            <input type="hidden" name="genres" value="{{}}">
                        </fieldset>
                        <div id="confirmed-anime-desc">
                            <img src="{{}}">
                                <ul>
                                    <li>{{}}</li>
                                    <li>{{}}</li>
                                    <li>{{}}</li>
                                    <li>{{}}</li>
                                    <li><a href="{{}}" target="_blank">MyAnimeList</a></li>
                                </ul>
                        </div>
                        <fieldset id="estimate-time">
                            <select name="mode">
                                <option value="time-available"></option>
                                <option value="time-goal"></option>
                            </select>
                            <
                        </fieldset>

                    </form>
                </section>
    <!-- QUERY BAR -->
                <section id="add-anime">
                    <form id="query" method="GET" action="/">
                        <label for="form-title">
                            <input id="form-title" type="text" name="name">
                        </label>
                        <button type="submit" name="Search">Search</button>
                    </form>
    <!-- SUGGESTED ANIME -->
                    <section id="query-suggestions">
                        <!-- NEEDS WORKING ON BUT JUST NEED TO GET IT ON THERE FOR NOW -->
                        {% for anime in anime_suggestions %}
                            <form id="selected-anime" method="POST">

                                <div id="suggested-animes">
                                    <img src="{{anime.image}}">
                                    <ul>
                                        <li>{{anime.title}}</li>
                                        <li>{{anime.type}} | {{anime.year}}</li>
                                        <li>{{anime.episodes}} | {{anime.duration}}</li>
                                        <li>{{anime.demographics}} | {{anime.genres | join(', ')}}</li>
                                        <li><a href="{{anime.MALurl}}" target="_blank">MyAnimeList</a></li>
                                        <button type="submmit">+ Add</button>
                                    </ul>
                                </div>
                            </form>
                        {% endfor %}
                    </section>

<!-- LEFT MARGIN -->
    <!-- CURRENTLY WATCHNG -->
                <section id="currently-watching">
                    {% for anime in currently_watching %}
                        <p>{{anime.title}}</p>
                        <p>{{anime.duration}}</p>
                    {% endfor %}
                </section>

    <!-- WATCHED ANIME -->
                <section id="watched-anime">
                    <!-- Show all watched anime -->
                </section>

                <section id="just-finished">
                    <!-- Just finished anime -->
                </section>
            </div>
        </main>
        <footer></footer>
    </body>
</html>